@import "tailwindcss";
@plugin "daisyui";

:root {
  background-color: whitesmoke;

}

/* fix */


/* ::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f0d0b4;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: #b64e4e;
  border-radius: 50px;
 } */